.lives__main{
    background-color: var(--cor-branco); 
    padding: 1em .4em 3em .4em;
}
.lives__titulo{
    border-bottom: 1px solid var(--cor-fonte-header-02);
}
.lives__tuber{
    display:flex; 
    margin-top: 1em;
}
.lives__subtitulo{
    width: 80%; 
    margin-right: .4em;
    padding: 1em 0; 
    text-align: center;
    text-transform: uppercase; 
    font-size: 36px; 
    font-weight: 600;
    letter-spacing:-0.05em; 
    background-color: var(--cor-de-header);
    color: var(--cor-fonte-header-02);
}
.lives__link{
    text-decoration: none; 
    text-transform: uppercase;
    width: 20%; 
    padding: 3m; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: var(--cor-footer);
    color: var(--cor-branco); 
    font-size: 24px; font-weight: 600;
}
.lives__imagem-youtube{
    width: 32px;
    height: 32px;
    background-image: url(../thumbnail/redes/youtube-md.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.lives__descricao{
    margin-left: 5px;
}
.lives{
    margin-top: 2em; 
    background-color: var(--cor-header-shadow);
    padding: 1em; 
    display: flex;
}
.lives__container{
    width: 25%; 
    height: 380px;  
    margin-right: 5px;
    background-color: #faf0dc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.lives__container-texto{
    font-size: 14px;
    font-weight: 600;
    padding: .5em;
    text-align: justify;
    line-height: 1.2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}