.noticias__main{
    background-color: var(--cor-branco); padding: 1em .2em 2em .2em;
}
.noticias{
    width: 100%;
    display: flex;
    margin-top: 1em;
    flex-direction: column;
}
.noticias__destaques{
    width: 100%;
    height: 470px;
    /* padding: 1em; */
    border: 1px solid var(--cor-black-ligth); 
    /* border-radius: 18px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.noticias__destaques-container{
    width: 100%;
    height: 320px
}
.noticias__destaques-container-imagem{
    width: 100%;
    height: 320px;
    /* border-radius: 18px 18px 0 0; */
    object-fit: cover;
}
.noticias__destaques-container-tipografia{
    padding: 0 1em;
}
.noticias__destaques-container--titulo{
    margin: 1em 0;
    font-size: 22px;
    font-weight: 500;
    color: var(--cor-black-ligth);
}
.noticias__destaques-container--texto{
    font-size: 12px;
    line-height: 1.2;
}
.noticias__relevantes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noticias__relevantes--container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer; /*Test-deve habilitar o ahref*/
}
.noticias__relevantes-item{
    width: 98%;
    height: 199px;
    margin: 5px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--cor-black-ligth);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.noticias__relevantes-item-imagem{
    width: 55%;
    height: 199px;
}
.noticias__relevantes-item-tipografia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    margin-left: 0.3em;
    padding: .2em;
}
.noticias__relevantes-item-data{
    font-size: 14px;
    font-weight: 500;
    color: #605454;
}
.noticias__relevantes-item-titulo{
    font-size: 14px;
    font-weight: 500;
}
.noticias__relevantes-item-texto{
    font-size: 12px;
    line-height: 1.2;
}
.noticias__relevantes-item-data{
    font-size: 14px;
}
@media screen and (min-width:1024px) {
    .noticias__main{
        background-color: var(--cor-branco); padding: 1em 1em 3em 1em;
    }
    .noticias__titulo{
        border-bottom: 2px solid var(--cor-fonte-header-02);
    }
    .noticias{
        flex-direction: row;
    }
    .noticias__destaques{
        width: 50%;
        height: 620px;
        border-radius: 18px;
    }
    .noticias__relevantes{
        width: 50%;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
    }
    .noticias__relevantes-item{
        padding: .5em;
        border-radius: 16px;
    }
    
    .noticias__destaques-container{
            height: 500px
    }
    .noticias__destaques-container-imagem{
        height: 500px;
        border-radius: 18px 18px 0 0;
        object-fit: fill;
    }
    .noticias__destaques-container--texto{
        font-size: 14px;
        line-height: 1.4;
    }

    .noticias__relevantes-item-imagem{
        height: 180px;
    }
}