@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

html, body, .capa{
    height: 100%;
}
body{
    background-image: url('../../thumbnail/cards/banner-araxa-01.png');
    background-attachment: fixed;
}

/* Section dos botãos */
.btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 2px 10px;
    text-align: center;
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-post {
    position: relative;
    margin: 2px 0;
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    background-color: #fcfdff;
    border-color: #55575a;
    color: #55575a;
    border-radius: 100px; /*Query*/
    text-align: left;
    /* padding-left: 3rem; */
    padding: .5em 0 .5em 2em;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
  }
  .btn-post-span {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    padding: 4px 10px;
    border-radius: 50%;
    background: gray;
    font-size: 14px;
    color: white;
    box-sizing: border-box; /*bottom: 0.25rem;*/
    top: 2px;
    margin-top: 2px;
  }
  .btn-post:hover {
    background: var(--cor-fonte-header-02);
    color: var(--cor-branco);
  } /*.card:hover .btn-outline-dark {*/
  .btn-post:hover .btn-post-span {
    background-color: orange;
    color: #55575a;
  }

/* Override class */
.cabecalho{
    background-color: var(--cor-do-blog);
}
.rodape__below {
    background-color: var(--cor-do-blog);
}
/* Imagem de Capa */
.capa{
    display: table;
    width: 100%;
}
.texto__capa{
    text-align: center;
    color: var(--cor-branco);
    display: table-cell;
    vertical-align: middle;
}
.capa__main{
    width: 99%;
    margin: 0 auto;
    /* height: 360px; */
    background: #faf0dcd1;
    border-radius: 5px;
}
.capa__container-footer {
    height: 85px;
    border-radius: 0 0 5px 5px;
    background-color: var(--cor-fonte-header-02);
    padding-top: 1em;
}
.capa__container-texto{
    color: var(--cor-branco);
    font-size: 14px;
}
.capa__destaques--left-pesquisa {
    width: 90%;
    background-color: transparent;
    border: 1px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 24px;
    padding: 0.2em 0;
    font-size: 14px;
    margin-top: 12px;
}
.capa__destaques--left-pesquisa::placeholder{
    background-image: url('../../thumbnail/menu/localizacao-br.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 1em;
    text-align: center;
    font-size: 16px;
}
.capa__container-flex{
    height: 280px;
    color: var(--cor-fonte-header-02);
    overflow: hidden;
    padding: 1em 0;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.capa__container-imagem-estrelas{
    display: flex;
}
.capa__container-imagem{
    width: 100px; 
    object-fit: cover;
}
.capa__container-picture{
    width: 80px;
    height: 80px;
    border: 5px solid #d2bebe;
    padding: 1em;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--cor-header-shadow);
}
.capa__container-imagem-group{
    display: flex;
    background: --cor-branco;
    border-radius: 20px;
    padding: .2em;
    width: 160px;
    align-items: center;
    justify-content: center;
}
.capa__container-titulo {
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.capa__container-subtitulo {
    font-size: 20px;
}
.capa__container-imagem-estrelas-item{
    margin-right: 5px;
}
.capa__container-regua{
    margin: 0;
}

@media screen and (min-width:1024px) {
    /* Imagem de Capa */
    /* .capa{
        display: table;
        width: 100%;
    } */

    .capa__main{
        width: 48%;
        /* height: 360px; */
        height: 380px;
        /* margin: 0 auto;
        height: 360px;
        background: #faf0dcd1; */
        border-radius: 50px;
    }
    .capa__container-footer {
        height: 100px;
    }
    /* .texto__capa{
        text-align: center;
        color: aliceblue;
        display: table-cell;
        vertical-align: middle;
    } */
    /* .capa__container-flex{
        padding: 1em 0;
    } */

    /* .capa__container-imagem-estrelas{
        display: flex;
    }
    .capa__container-imagem{
        width: 100px; 
        object-fit: cover;
    }
    .capa__container-picture{
        width: 80px;
        height: 80px;
        border: 5px solid #d2bebe;
        padding: 1em;
        border-radius: 50%;
        overflow: hidden;
        background-color: var(--cor-header-shadow);
    }
    .capa__container-imagem-group{
        display: flex;
        background: --cor-branco;
        border-radius: 20px;
        padding: .2em;
        width: 160px;
        align-items: center;
        justify-content: center;
    } */
    .capa__container-titulo{
        /* font-family: 'Bree Serif', serif; */
        font-size: 42px;
        /* font-weight: bold;
        text-transform: uppercase; */
    }
    .capa__container-subtitulo{
        font-size: 28px;
    }
    /* .capa__container-imagem-estrelas-item{
        margin-right: 5px;
    }
    .capa__container-regua{
        margin: 0;
    } */

    .capa__container-footer{
        /* height: 100px; */
        border-radius: 0 0 50px 50px;
        /* background-color: var(--cor-fonte-header-02); */
        padding-top: 1em;
    }
    .capa__container-texto{
        font-size: 16px;
        /* color: var(--cor-fonte-header-02); */
        /* padding: 1em 7em 1em 7em; */
        /* color: --cor-branco; */
    }

    .capa__destaques--left-pesquisa{
        width: 70%;
        border: 2px solid var(--cor-branco);
        padding: 0.5em 0.8em;
        font-size: 16px;
        margin-top: 15px;
    }
    .capa__destaques--left-pesquisa::placeholder{
        font-size: 16px;
    }
}